<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addRoute</servlet-name>
        <servlet-class>Controller.addRoute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>Controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logservlet</servlet-name>
        <servlet-class>Controller.Logservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>Controller.Adduser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>Controller.Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>Controller.delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adduser1</servlet-name>
        <servlet-class>Controller.Adduser1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>facultyad</servlet-name>
        <servlet-class>Controller.facultyad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>facultyd</servlet-name>
        <servlet-class>Controller.facultyd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addRoute</servlet-name>
        <url-pattern>/addRoute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logservlet</servlet-name>
        <url-pattern>/Logservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adduser1</servlet-name>
        <url-pattern>/Adduser1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>facultyad</servlet-name>
        <url-pattern>/facultyad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>facultyd</servlet-name>
        <url-pattern>/facultyd</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
